<app-nav-bar></app-nav-bar>
<body>
        <ul>
            <li style="--color: #ed0909" routerLink="/vehiculos">
                <span class="base"></span>
                <span class="titulo">VEHÍCULOS</span>
                <span class="icon">
                    <i class="fa-solid fa-car"></i>
                </span>
            </li>
            <li style="--color: #f27d09" routerLink="/motocicletas">
                <span class="base"></span>
                <span class="titulo">MOTOCICLETAS</span>
                <span class="icon">
                    <i class="fa-solid fa-motorcycle"></i>
                </span>
            </li>
            <li style="--color: #0924f2" routerLink="/contacto">
                <span class="base"></span>
                <span class="titulo" >VISITANOS</span>
                <span class="icon">
                    <i class="fa-solid fa-phone"></i>
                </span>
            </li>
        </ul>

</body>
<app-footer></app-footer>
