
<body>
        <ul>
            <li style="--color: #ed0909">
                <span class="base"></span>
                <span class="titulo">VEHÍCULOS</span>
                <span class="icon">
                    <i class="fa-solid fa-car"></i>
                </span>
            </li>
            <li style="--color: #f27d09">
                <span class="base"></span>
                <span class="titulo">MOTOCICLETAS</span>
                <span class="icon">
                    <i class="fa-solid fa-motorcycle"></i>
                </span>
            </li>
            <li style="--color: #0924f2">
                <span class="base"></span>
                <span class="titulo">CONTACTANOS</span>
                <span class="icon">
                    <i class="fa-solid fa-phone"></i>
                </span>
            </li>
        </ul>
</body>
