<body>
    <ul>
        <li style="--i:#0D88EF;--j:#e4dce6;">
            <span class="icon"><i class="fa fa-facebook"></i></span>
            <span class="titulo">Facebook</span>
        </li>
        <li style="--i:#56CCF2;--j:#1A8CD8;">
            <span class="icon"><i class="fa fa-twitter"></i></span>
            <span class="titulo">Twitter</span>
        </li>
        <li style="--i:#86be6b;--j:#1baf16;">
            <span class="icon"><i class="fa fa-whatsapp"></i></span>
            <span class="titulo">Whatsapp</span>
        </li>
        <li style="--i:#FFA9C6;--j:#F434E2;">
            <span class="icon"><i class="fa fa-instagram"></i></span>
            <span class="titulo">Instagram</span>
        </li>
    </ul>
</body>
