<app-nav-bar></app-nav-bar>
<app-menu-lateral></app-menu-lateral>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../../assets/img/productos.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      ¿Que quieres hacer?
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/productos">Crear producto</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/lista-productos">Ver productos</a></li>
                    </ul>
                  </div>
                  <br>
              <h5 class="card-title">PRODUCTOS</h5>
            </div>
          </div>
        </div>
        <div class="col" routerLink="/admin/productos">
            <div class="card">
              <img src="../../../../assets/img/contacto.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SOLICITUDES DE CONTACTO</h5>
              </div>
            </div>
          </div>
          <div class="col" routerLink="/admin/productos">
            <div class="card">
              <img src="../../../../assets/img/usuario.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CLIENTES</h5>
              </div>
            </div>
          </div>
    </div>
</div>
<br>
<br>

<app-footer></app-footer>
