*{
    margin: 0;
    padding: 0;
    box-sizing: revert;
    font-family: Arial, Helvetica, sans-serif;
}

.barraNav{
    background-color: rgb(61, 58, 58);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;

}

.estilosNav{
    list-style-type: none;
}

.estilosNav li{
    display: inline;
}

#botonSesion{
    width: 100px;
}

.estilosNav li button, 
#botonSesion{
    width: 160px; 
    background: rgb(61, 58, 58);
    color: #b1abab;
    font-weight: bold;
    padding: 15px;
    white-space: nowrap;
    border: none;
    cursor: pointer;
}

.cars{
    width: 80%;
    height: auto;
    margin: 30px auto;
}



.enlaces{
    width: 100%;
    height: auto;
    
}
