<app-nav-bar></app-nav-bar>
<app-menu-lateral></app-menu-lateral>

<section class="container">
    <h1 class="d-flex justify-content-center align-content-center my-5">{{tituloComponente}} Productos</h1>
    <h1 class="my-5 text-center">Que producto desea agregar?</h1>
    <a routerLink="/admin/lista-productos" class="text-primary pb-5">Regresar al listado de productos</a>
    <form [formGroup]="productoForm" (ngSubmit)="enviarInfo()">
        <div>
            <select class="form-select mb-3" formControlName="tipo">
                <option selected>Seleccione el tipo...</option>
                <option value="1">Vehículo</option>
                <option value="2">Motocicleta</option>
              </select>
              <!--<span class="text-danger fw-bold">Escoja el tipo</span>-->
        </div>
        <br>
        <div>
            <select class="form-select mb-3" formControlName="marca">
                <option selected>Seleccione una marca...</option>
                <option value="1">Renault</option>
                <option value="2">Chevrolet</option>
                <option value="3">Ford</option>
                <option value="4">Nissan</option>
                <option value="5">Mercedes Benz</option>
                <option value="6">Mazda</option>
                <option value="7">Volkswagen</option>
                <option value="8">Audi</option>
                <option value="9">Kia</option>
                <option value="10">Toyota</option>
                <option value="11">Hyundai</option>
                <option value="12">BMW</option>
                <option value="13">Yamaha</option>
                <option value="14">KTM</option>
                <option value="15">Kawasaki</option>
                <option value="16">Honda</option>
                <option value="17">Ducati</option>
                <option value="18">Harley Davidson</option>
                <option value="19">Suzuki</option>
              </select>
              <!--<span class="text-danger fw-bold">Escoja una marca</span>-->
        </div>
        <br>
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            <label for="nombre">Nombre del producto</label>
            <span *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched" class="text-danger fw-bold">Escriba el nombre del producto</span>
        </div>
        <div class="form-floating mb-3 ">
            <input type="text" class="form-control" id="precio" formControlName="precio">
            <label for="precio">Precio del producto</label>
            <span *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched" class="text-danger fw-bold">Digite el precio</span>
            <span *ngIf="productoForm.get('precio')?.hasError('minlength') && productoForm.get('precio')?.touched" class="text-danger fw-bold">El precio debe de contener mínimo 7 caracteres</span><br>
            <span *ngIf="productoForm.get('precio')?.hasError('pattern') && productoForm.get('precio')?.touched" class="text-danger fw-bold">&nbsp;El precio no puede contener letras</span>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control"  id="rutaImg" formControlName="rutaImg">
            <label for="rutaImg">Seleccione la imagen para su producto </label>
            <span *ngIf="productoForm.get('rutaImg')?.hasError('required') && productoForm.get('rutaImg')?.touched" class="text-danger fw-bold">Es necesario una imagen para su producto</span>
        </div>
        <div class="d-flex justify-content-center my-4">
            <button [disabled]="productoForm.invalid" type="submit">
                <span class="button_top">Crear</span>
            </button>
        </div>
    </form>
</section>
<br>
<br>
<br>
<app-footer></app-footer>
