<app-nav-bar></app-nav-bar>
<nav aria-label="breadcrumb" class="p-5">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item"><a routerLink="/">INICIO</a></li>
      <li class="breadcrumb-item active" aria-current="page">VEHÍCULOS</li>
    </ol>
</nav>
<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col" >
        <div class="card m-4">
            <img src="https://www.chevrolet.com.co/bypass/gmccontenthub/chevrolet/gm-co/colorizer_onix_hb/images/colorizer/2022-colorizer-onix-turbo-hb-blanco-1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ONIX TURBO</h5>
                <p class="card-text">DESDE: $84.520.000 </p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
