<app-nav-bar></app-nav-bar>
<app-slider-v></app-slider-v>
<nav aria-label="breadcrumb" class="p-5">
    <ol class="breadcrumb" >
      <li class="breadcrumb-item"><a routerLink="/">INICIO</a></li>
      <li class="breadcrumb-item active" aria-current="page">VEHÍCULOS</li>
    </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col" *ngFor="let producto of listaProductos" >
        <div class="card-body ">
            <img src="{{ producto.rutaImg }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">{{ producto.precio }}</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
